@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: "Tinos", serif;
}

body,
html {
	min-width: 1200px;
	width: 100%;
	height: 100%;
	min-height: 800px;
}

#root {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.App {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
}

.Navbar {
	height: 5%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Navbar-items {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.Navbar-item {
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px 10px;
	color: white;
	background-color: black;
	font-size: 16px;
	margin-right: 20px;
}

.logout {
	cursor: pointer;
}

.module-heading {
	font-family: "Dancing Script", cursive !important;
	font-size: 60px;
}

.underlined {
	text-decoration: underline;
}

input {
	padding: 10px 5px;
	width: 80%;
	height: 40px;
	border-radius: 30px;
	font-size: 24px;
	border: 3px solid black;
}

img {
	width: 90%;
}

.small-spacer-vertical {
	margin-bottom: 3%;
}

.large-spacer-vertical {
	margin-bottom: 8%;
}

.submit {
	font-family: "Dancing Script", cursive !important;
	font-size: 30px;
	padding: 0px 30px;
	border: 3px solid black;
	border-radius: 30px;
	background-color: black;
	color: white;
}

.border-bottom {
	border-bottom: 2px solid black;
}

a {
	color: inherit;
	text-decoration: inherit;
}

.error-message {
	color: #ff2e2e;
	text-align: center;
	font-size: large;
}
