.Login {
	width: 1200px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(108, 99, 255, 0.28);
}

.Login-leftContainer {
	width: 720px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.Login-rightContainer {
	width: 480px;
	height: 100%;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(108, 99, 255, 0.2);
}

.Login-rightContainer-content {
	height: 85%;
	width: 70%;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 3px solid black;
	border-radius: 70px;
	background-color: white;
}

.Login-content {
	font-size: 24px;
	width: 90%;
	text-align: center;
}
